{% extends 'base2.html.twig' %}

{% block title %}Ajout{% endblock %}
{% block name %}Ajout d'un nouveau produit {% endblock %}
{% block body %}
 
<h2> Ajout d'un nouveau produit</h2>

{{ form(form) }}

{% endblock %}

